<p class="mb-4">
  Ho maturato circa sei anni di esperienza nel campo dello sviluppo web. La mia carriera professionale è iniziata nel 2019 come Junior Developer,
  e dopo diversi anni di impegno, ho avuto l'opportunità di essere promosso a un ruolo Senior.
</p>
<p class="mb-4">
  La maggior parte della mia esperienza si concentra su Angular, TypeScript e RxJS.
  Recentemente, ho approfondito le versioni da 16 a 20 di Angular, e non vedo l'ora di mettere in pratica queste nuove conoscenze.
  Oltre a ciò, ho utilizzato React, Redux e NgRx in diverse applicazioni.
</p>
<p class="mb-4">
  La mia più grande soddisfazione risiede nella creazione di interfacce fluide ed efficienti. Mi assicuro che il mio codice sia pulito e riutilizzabile,
  ponendo particolare enfasi su performance e User Experience (UX).
  Il mio obiettivo è che i prodotti che realizziamo siano impeccabili e offrano un'esperienza utente piacevole.
</p>
