<div class="mb-10">
  @if (sectionTitle) {
    <span class="text-lg mb-5"> {{ sectionTitle | uppercase }} </span>
  }
  @defer (on viewport) {
    <div class="relative grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-7 mt-2">
      @for (s of skills(); track s.id) {
        <div [appCdkTooltip]="s.title"
          class="h-16 w-16 rounded-full bg-white grid place-items-center border-1 border-cyan-200 shadow-[0_0_25px_rgba(0,220,255,0.2)] mt-2"
          (click)="onSkillClick.emit(s)">
          <img [src]="s.imgSrc" class="h-10 w-10 object-contain" [alt]="s.title"/>
        </div>
      }
    </div>
  } @placeholder {
    <div class="flex flex-row animate-pulse justify-center gap-2 sm:gap-3 md:gap-4 lg:gap-5 xl:gap-7 mt-10">
      @for (s of [0, 1, 2, 3]; track s) {
        <span class="size-12 block bg-gray-200 rounded-full dark:bg-neutral-700"></span>
      }
    </div>
  }
</div>

